# Dependency directories
node_modules/
jspm_packages/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Environment variables
.env
.env.test
.env.production
.env.local
.env.*.local

# Build outputs
dist/
build/
.env.uat
# OS metadata
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.apk

# Coverage
coverage/
.nyc_output/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
